.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.body-text {
  font-family: fontBody;
}

.header-text {
  font-family: fontHeader;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
    font-family: fontHeader;
    src: url(//fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

@font-face {
    font-family: fontBody;
    src: url(//fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}

@font-face {
    font-family: fontOther;
    src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.woff?ts=1519950722272);
}

